/**
 * Common elements.
 */
html {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #404040; }

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #1a1a1a;
  background-color: #d9d9d9;
  padding-top: 4rem; }

a,
a:link,
a:hover,
a:visited,
a:active {
  color: #1a1a1a; }

a:hover {
  text-decoration: underline; }

#loginBlock {
  max-width: 20rem;
  margin: 0 auto;
  text-align: center; }

