<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("_MetaPartial")
</head>
<body>
    @await Html.PartialAsync("_MainNavigationPartial")
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>Copyright &copy;@{/*2018&ndash;*/}@DateTime.Now.Year <a href="https://github.com/soltimate">Soltimate</a></p>
            </center>
        </footer>
    </div>
    @await Html.PartialAsync("_CommonScriptsPartial")

    @RenderSection("Scripts", required: false)
</body>
</html>
