<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Soltimate, the solution for gamers.">

<link rel="icon" href="~/favicon.ico">

<title>@ViewData["Title"] - Soltimate</title>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<!--link rel="icon" href="~/icons/favicon.png" type="image/png">
<link rel="icon" href="~/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="~/icons/favicon-152.png">
<meta name="msapplication-TileColor" content="#d9d9d9">
<meta name="msapplication-TileImage" content="~/icons/favicon-144.png">
<meta name="application-name" content="Soltimate">
<meta name="msapplication-tooltip" content="Tooltip">
<meta name="msapplication-config" content="~/ieconfig.xml">
<link rel="icon" href="~/icons/favicon-32.png" sizes="32x32">
<link rel="shortcut icon" href="~/icons/favicon-196.png" sizes="196x196"-->